

.privacy-policy-dark{
    padding: 96px 0 128px 0;
    @include breakpoint($secreen-max-sm){
        padding: 56px 0 80px 0 !important;
    }
    .container-fluid{
        .head-otr{
            .heading{
                color: $White-Color;
            }
        }
        .line{
            display: flex;
            flex: 1;
            height: 1px;
            background-color: $Dark-bg-tertiary;
            margin: 36px 0;
        }
        .wrapper{
            .desc{
                color: $Dark-Gray-Shade-1;
            }
            .para{
                padding: 0 0 16px;
            }
            .head{
                margin: 24px 0 16px 0;
                color: $White-Color;
            }
        }
    }
}